@model SWPets.Models.Pet

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b>Nome do Pet</b>
</div>
<div>
    @Model.PetNome
</div>

<div>
    <b>Espécie</b>
</div>
<div>
    @Model.Especie
</div>

<div>
    <b>Cor</b>
</div>
<div>
    @Model.Cor
</div>

<div>
    <b>Raça</b>
</div>
<div>
    @Model.Raca
</div>

<div>
    <b>Idade</b>
</div>
<div>
    @Model.Idade
</div>

<div>
    <b>Castrado</b>
</div>
<div>
    @Model.Castrado
</div>

<div>
    <b>Vacinado</b>
</div>
<div>
    @Model.Vacinado
</div>

<div>
    <b>Data da Chegada</b>
</div>
<div>
    @Model.DataChegada
</div>

<div>
    <b>Adotado</b>
</div>
<div>
    @Model.Adotado
</div>

<div>
    <b>Nascimento</b>
</div>
<div>
    @Model.Nascimento
</div>

<div>
    <b>Porte</b>
</div>
<div>
    @Model.Porte
</div>

<div>
    <b>Observaçõo</b>
</div>
<div>
    @Model.Observacao
</div>
