@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <style>
        /*------MENU--------*/
        a{
            display: inline-block;
	        padding: 12px;
	        padding-right: 25px;
	        font-family: sans-serif;
	        font-size: 12pt;
            text-decoration: none;
            height: 65px;
        }
        div#menu {
	        height: 45px;
	        width: 100%;
	        background-color: white;
	        position: fixed;
        }

        ul#menu {
	        display: block;
	        padding-left: 100px;
        }

        ul#menu li{
	        display: inline-block;
	        padding: 25px;
	        padding-right: 20px;
	        font-family: sans-serif;
	        font-size: 12pt;
        }

        ul#menu li#login {
	        padding-left: 250px;
        }

        ul#menu li a {
	        text-decoration: none;
	        color: rgba(0, 0, 0, 1.0);
        }


        ul#menu li a:hover {
	        color: rgba(139, 0, 190, 1.0);
        }

    </style>
    <div id="menu" class="div-navbar">
        <ul id="menu">
            @Html.ActionLink("Home","Index","Home")
            @Html.ActionLink("Pets", "Pets", "Home")
            @Html.ActionLink("Adotantes", "Adotantes", "Home")
            @Html.ActionLink("Estoque", "Estoque", "Home")
            @Html.ActionLink("Ajuda", "Ajuda", "Home")
            @Html.ActionLink("Login", "Login", "Home")           
        </ul>
    </div>

</body>
</html>
